<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-section">
      <ul class="footer-menu">
        <li class="footer-link title">Products</li>
        <li class="footer-link">Kiteboard</li>
        <li class="footer-link">Wakeboard</li>
        <li class="footer-link">Snowboard</li>
      </ul>
    </div>
    <div class="footer-section">
      <ul class="footer-menu">
        <li class="footer-link title">About us</li>
        <li class="footer-link">Team</li>
        <li class="footer-link">Press</li>
        <li class="footer-link">Contact</li>
      </ul>
    </div>
    <div class="footer-section">
      <ul class="footer-menu">
        <li class="footer-link title">Follow</li>
        <li class="footer-link">Facebook</li>
        <li class="footer-link">Instagram</li>
        <li class="footer-link">Twitter</li>
      </ul>
    </div>
    <div class="footer-section">
      <ul class="footer-menu">
        <li class="footer-link title">Legal</li>
        <li class="footer-link">Terms</li>
        <li class="footer-link">Shipping</li>
        <li class="footer-link">KRS</li>
      </ul>
    </div>
  </div>

  <div class="footer-note">
    <p>Copyright (c) 2016 Vesper Sport. All Rights Reserved.</p>
  </div>
</footer>
