<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/assets/svg/logotyp.svg" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><img src="/assets/svg/menu.svg" alt="Hamburger menu"></a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/technology">Contact</a></li>
        <li class="nav-link"><a href="/technology">About us</a></li>
        <li class="nav-link"><a href="/technology">Accessories</a></li>
        <li class="nav-link"><a href="/technology">Technology</a></li>
        <li class="nav-link"><a href="/kiteboard">Kiteboard</a></li>
      </ul>
    </nav>
  </div>
</header>
