<header class="navigation is-open" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/assets/svg/logotyp.svg" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><img src="/assets/svg/menu.svg" alt="Hamburger menu"></a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/contact">Contact</a></li>
        <li class="nav-link"><a href="/about">About us</a></li>
        <li class="nav-link"><a href="/accessories">Accessories</a></li>
        <li class="nav-link"><a href="/technology">Technology</a></li>
        <li class="nav-link"><a href="/kitesurf/aurora">Kitesurf</a></li>
      </ul>
    </nav>
  </div>
</header>
