<section class="section-product">
  <div class="product-container">
    <div class="product-images"></div>
    <div class="product-content">
      <h1>Aurora Kite</h1>
      <div class="subheader">Current status: testing</div>
      <div class="product-description">
        <p>First Veper kiteboard model. Prototype model for testing purposes. Ride it and give us some feedback.<p>
      </div>
      <div class="product-buy">
        <a href="/spots"><div class="button">Learn more</div></a>
      </div>
    </div>
  </div>
</section>
