<section class="section-product">
  <div class="product-container">
    <div class="product-images"></div>
    <div class="product-content">
      <h1>Aurora Kite</h1>
      <!-- <div class="subheader">currently testgin!</div> -->
      <div class="product-description">
        <p>First Veper kiteboard model. Prototype model for testing purposes. Ride it and give us some feedback.<p>
      </div>

      <ul>
        <li>full woodcore</li>
        <li>triax fibreglass</li>
        <li>epoxy resin</li>
        <li>M6 stainless-steel inserts</li>
        <li>seamless resin rail</li>
        <li>polyadmid top and base sheet</li>
        <li>continuous 5cm rocker, soft concave</li>
      </ul>
      <div class="product-buy">
        <div class="button">Testing spots</div>
        <div class="button">Feedback</div>
      </div>
    </div>
  </div>
</section>
