<section class="section-icons">
  <div class="icons-container">
    <div class="tooltip-item">Woodcore
      <div class="tooltip">
        <p>Spine of every board. Cut, dried and assembled in own lumbermill.</p>
      </div>
    </div>

    <div class="tooltip-item">Triax fibreglass
      <div class="tooltip">
        <p>Spine of every board. Cut, dried and assembled in own lumbermill.</p>
      </div>
    </div>

    <div class="tooltip-item">Epoxy resin
      <div class="tooltip">
        <p>Spine of every board. Cut, dried and assembled in own lumbermill.</p>
      </div>
    </div>

    <div class="tooltip-item">Seamless resin rail
      <div class="tooltip">
        <p>Spine of every board. Cut, dried and assembled in own lumbermill.</p>
      </div>
    </div>

    <div class="tooltip-item">Woodcore
      <div class="tooltip">
        <p>Spine of every board. Cut, dried and assembled in own lumbermill.</p>
      </div>
    </div>
  </div>
</section>
