<section class="section-specs">
  <div class="specs-container">
    <div class="table-container">
      <table class="table-minimal">
        <thead>
          <tr>
            <th>Length</th>
            <th>138 cm</th>
            <th>141 cm</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Width</td>
            <td>42 cm</td>
            <td>43 cm</td>
          </tr>
          <tr>
            <td>Rocker</td>
            <td>50 mm</td>
            <td>50 mm</td>
          </tr>
          <tr>
            <td>Rider weight</td>
            <td>60-90 kg</td>
            <td>70-100 kg</td>
          </tr>
          <tr>
            <td>Flex</td>
            <td>5/5</td>
            <td>5/5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
