<section class="section-product">
  <div class="product-container">
    <div class="product-images"></div>
    <div class="product-content">
      <h1>Aurora Kite</h1>
      <!-- <div class="subheader">currently testgin!</div> -->
      <div class="product-description">
        <p>Nullam porttitor enim at consectetur viverra. Quisque sit amet semper ipsum, in viverra augue.<p>
      </div>
      <!-- <div class="product-buy">
        <div class="button">Find a dealer</div>
      </div> -->
    </div>
  </div>
</section>
