<section class="section-rider">
  <div class="rider-container">
      <h1>Angelina</h1>
    <div class="rider-image"><img src="/assets/img/jolie.png" alt=""></div>
    <div class="product-content">
      <h2>Angelina Jolie</h2>
      <div class="subheader">jest spoko</div>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore blanditiis eum architecto aspernatur cum non repellendus, recusandae et nulla quaerat ullam dolorem eos, deleniti impedit fugiat nobis, quis ratione ipsam! </p>
      <div class="product-description">
        <p>Nullam porttitor enim at consectetur viverra. Quisque sit amet semper ipsum, in viverra augue.<p>
      </div>
      <div class="product-buy">
        <div class="button">Wincyj angeliny</div>
      </div>
    </div>
  </div>
</section>
