<section class="section-why">
  <div class="section-wrapper">
    <div class="section-content">
      <h3 class="section-title">Why another kiteboard company?</h3>
        <p>We believe there is much room for change in the industry. There is an infinite space for innovation. In fact innovation is not a patent or a technology. Innovation is pure human, pure idea. We have the best people, lots of ideas, and we are just starting out.</p>
        <p>We believe a great product is functional. Form follows function. A good design should embrace the funcion and skips everything that wants to move attention from it. So a good design is simple, pure and timeless.</p>
        <p>We believe that charecteristics, features of product are stricly connected to the materials used. To achieve best possible result we use best possible materials and constantly seek nature for guides and inspiration. Our products will never be finished, there is always room for improvement.</p>

      <p class="note">handcrafted with  <img src="/assets/svg/love.svg"> in poland</p>
    </div>
  </div>
</section>
