<section class="section-why">
  <div class="section-wrapper">
    <div class="section-content">
      <h3 class="section-title">We set out to make a better ride</h3>
      <p>Nam vitae accumsan ex. Curabitur vel neque eu eros tempor vestibulum vel eget enim. Suspendisse risus diam, egestas sit amet nunc id, varius rhoncus sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque a gravida leo, placerat viverra ex. In hac habitasse platea dictumst. Nunc nec urna a nisi pellentesque faucibus.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nisi molestias reprehenderit, ducimus quae non autem quod est eius cupiditate. Porro aperiam accusamus nostrum deleniti, vel totam dignissimos officiis ea.</p>

      <p class="note">handcrafted with  <img src="/assets/svg/love.svg"> in poland</p>
    </div>
  </div>
</section>
