.section-accessories {
  @include clearfix;
  width: 100%;
  //background-color: darken(lightblue, 5);
  //background: linear-gradient(to bottom right, lightblue, darken(lightblue, 25));
  padding: 140px 0 30px;
}

.subsection-product {
  @include clearfix;
  width: 100%;
  //background-color: darken(lightblue, 5);
  //background: linear-gradient(to bottom right, red, darken(lightblue, 25));
  padding: 0;
}

.product-container {
  @include outer-container;
  width: 100%;
  //background-color: lightblue;
}

.accessories-images {
  @include span-columns(12);
  height: 300px;
  margin-top: 50px;

  @include media($small-desktop) {
    @include span-columns(8 of 12);
  }
}

.product-content {
  @include span-columns(12);
  //background-color: white;
  padding: 2em 2em 0;
  text-align: center;

  h1 {
    color: #111;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4em;
    margin-bottom: .3em;
  }

  @include media($small-desktop) {
    @include span-columns(4 of 12);
    text-align: left;
    background: transparent;
  }
}

.subheader {
  text-transform: uppercase;
}

.product-description {
  padding: 1em 0 0;

  p {
    margin: .4em 0;
  }

  ul {
    margin: 0 -40px;
  }
}
.footstrap1 {
  @include span-columns(6 of 12);
  background-image: url('/assets/img/footstrap01.png');
  //background-color: pink;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footstrap2 {
  @include span-columns(6 of 12);
  background-image: url('/assets/img/footstrap02.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footpad1 {
  @include span-columns(6 of 12);
  background-image: url('/assets/img/footpad01.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footpad2 {
  @include span-columns(6 of 12);
  background-image: url('/assets/img/footpad02.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.handle1 {
  @include span-columns(6 of 12);
  background-image: url('/assets/img/holder02.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.handle2 {
  @include span-columns(6 of 12);
  background-image: url('/assets/img/holder01.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.fin01 {
  @include span-columns(6 of 12);
  background-image: url('/assets/img/fin01.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.fin02 {
  @include span-columns(6 of 12);
  background-image: url('/assets/img/fin02.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
