.footer {
  width: 100%;
  background-color: $color-light;
}

.footer-wrapper {
  @include outer-container;
  padding: 20px 20px;
  }

.footer-section {
  //display: flex;
  //justify-content: space-between;
  //align-content: center;
  //flex-wrap: wrap;
}

.footer-element {
  @include span-columns(12);
  @include text-uppercase;
  text-align: center;
  //flex-wrap: 0;
  padding: 20px 0;
  font-size: 12px;

  @include media($small-desktop) {
    @include span-columns(4);
  }
}

.element-header {
  color: #555;
}

.element-content {
}

ul.footer-menu {
  margin: 0 auto;
  padding: 10px 0;
}

// Footer items
ul li.footer-link {
  @include text-uppercase;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.3em 0;

  &.title {
    font-weight: 600;
  }
}

// Footnote
.footer-note {
  @include text-uppercase;
  font-size: 12px;
  padding-top: 20px;
  clear: both;
  text-align: center;
  color: $color-dark;
}

.share {
  text-align: center;

  .icon {
    @include size(50px);
    display: inline-block;
    margin: 0 20px 40px 0;
    border-radius: 50%;
    border: 1px solid #111;
  }
}
