.footer {
  width: 100%;
  background-color: $color-light;
}

.footer-wrapper {
  @include outer-container;
  padding: 20px 20px;
  background-color: pink;
  }

.footer-section {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.footer-element {
  //background-color: lightblue;
  text-align: center;
  flex-basis: 380px;
  //flex-wrap: 0;
}

ul.footer-menu {
  margin: 0 auto;
  padding: 10px 0;
}

// Footer items
ul li.footer-link {
  @include text-uppercase;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.3em 0;

  &.title {
    font-weight: 600;
  }
}

// Footnote
.footer-note {
  clear: both;
  text-align: center;
  color: $color-dark;
}
