.section-instagram {
  @include section;
  background-color: lighten(yellow, 30);
}

.section-wrapper {
  @include outer-container(85%);

  @include media($tablet) {
    @include outer-container(70%);
  }

  @include media($small-desktop) {
    @include outer-container(50%);
  }

  .section-content {
    text-align: center;

    p {
      font-size: 1.2em;

      &.note {
        @include text-uppercase;
        display: inline-block;
        padding: .8em 1.6em;
        margin: 30px 0 0 0;
        border: 1px solid $color-dark;
        border-radius: .4em;

        img {
          width: 0.7em;
          margin: 0 .2em;
        }
      }
    }
  }
}

.photos-wrapper {
  background-color: black;

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-block;
      max-width: 200px;


      img {
        width: 100%;
      }
    }
  }
}
