.section-product {
  @include clearfix;
  width: 100%;
  background-color: #eee;
  //background: linear-gradient(to bottom right, lightblue, darken(lightblue, 25));
  padding: 140px 0 30px;
  border-bottom: 1px solid $color-medium;
}

.product-container {
  @include outer-container;
  width: 100%;
  //background-color: lightblue;
}

.product-images {
  @include span-columns(12);
  //background-color: blue;
  background-image: url('/assets/img/aurora-web.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;

  @include media($small-desktop) {
    @include span-columns(8 of 12);
  }
}

.product-content {
  @include span-columns(12);
  //background-color: white;
  padding: 2em 2em 0;
  text-align: center;

  h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4em;
    margin-bottom: .3em;
  }

  @include media($small-desktop) {
    @include span-columns(4 of 12);
    text-align: left;
    background: transparent;
  }
}

.subheader {
  text-transform: uppercase;
}

.product-description {
  padding: 1em 0 0;
}

.product-buy {
  text-transform: uppercase;
  //cursor: pointer;

  .button {
    display: inline-block;
    //background: lightblue;
    margin-top: 20px;
    padding: .6em 1.2em;
    border: 1px solid $color-medium;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: .03em;

    &:hover {
      background-color: #ddd;
      transition: all .2s;
    }
  }
}
