.section-product {
  @include clearfix;
  width: 100%;
  //background-color: darken(lightblue, 5);
  background: linear-gradient(to bottom right, lightblue, darken(lightblue, 25));
  padding: 140px 0 30px;
}

.product-container {
  @include outer-container;
  width: 100%;
  //background-color: lightblue;
}

.product-images {
  @include span-columns(12);
  //background-color: blue;
  background-image: url('/assets/img/kite.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;

  @include media($small-desktop) {
    @include span-columns(8 of 12);
  }
}

.product-content {
  @include span-columns(12);
  //background-color: white;
  padding: 2em 2em 0;
  text-align: center;

  h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4em;
    margin-bottom: .3em;
  }

  @include media($small-desktop) {
    @include span-columns(4 of 12);
    text-align: left;
    background: transparent;
  }
}

.subheader {
  text-transform: uppercase;
}

.product-description {
  padding: 1em 0 0;
}

.product-buy {
  text-transform: uppercase;

  .button {
    display: inline-block;
    background-color: white;
    margin-top: 20px;
    padding: .6em 1.2em;
    border: 1px solid white;
    border-radius: 5px;

    &:hover {
      background-color: rgba(white, .2);
      transition: all .2s;
      border: 1px solid white;
      color: white;
    }
  }
}
