.section-specs {
  @include clearfix;
  width: 100%;
  background-color: $body-bg;
  padding: 30px 0;
}

.specs-container {
  @include outer-container;
  font-size: 14px;
  //background-color: lightblue;
}

.table-container {
  padding: 0 2em;

  @include media($small-desktop) {
    @include span-columns(8);
    @include shift(2);
    padding: 0;
  }
}

.table-minimal {
  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-font-color: $color-medium !default;
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: $base-background-color;
  $table-header-background: lighten($table-background, 10);
  $table-hover-background: darken($table-background, 2);
  $table-padding: .5em .5em;

  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  text-align: center;

  tbody {
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:first-child td {
      border-top: 2px solid $table-border-color;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0;
      padding: $table-padding;
      text-align: center;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0;
      border-top: 1px solid $table-border-color;
      line-height: $base-line-height;
      padding: $table-padding;
    }
  }
}
