a {
  color: $color-dark;
  outline: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten($color-dark, 20%);
    transition: .05s;
  }
}

p {
  a {
    color: $color-medium;

    &:hover,
    &:focus {
      color: darken($color-medium, 20%);
    }
  }
}
