a {
  color: $color-dark;
  outline: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten($color-dark, 20%);
    transition: .3s;
  }
}

p {
  a {
    color: $color-accent;

    &:hover,
    &:focus {
      color: lighten($color-accent, 20%);
    }
  }
}
