h3.section-title {
  font-family: $font-display;
  color: $color-dark;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  //letter-spacing: .05em;
  padding-bottom: .5em;

  @include media($small-desktop) {
    font-size: 3.2em;
  }
}

.full-width-section {
  //width: 100%;
  text-align: center;

  img {
    //position: relative;
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  h3 {
    position: relative;
    top: -30vh;
    color: black;
    margin-bottom: -10vh;
  }
}

.section-wrapper {
  @include outer-container(85%);

  @include media($tablet) {
    @include outer-container(70%);
  }

  @include media($small-desktop) {
    @include outer-container(50%);
  }

  .section-content {
    padding: 60px 0;
    text-align: center;

    p {
      font-size: 1.4em;
      text-align: center;

      &.note {
        @include text-uppercase;
        padding-top: 50px;
        margin: 0;

        img {
          width: 0.7em;
          margin: 0 .2em;
        }
      }
    }

    h3 {
      padding: 30px 0;
    }
  }
}

span {
  padding: .8em 1.2em;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.section-photo-full {
  width: 100%;
  margin: 0px;
  //height: 600px;

  img {
    @include span-columns(12);
    padding-bottom: 10px;
    object-fit: cover;
    max-height: 500px;

    @include media($small-desktop) {
      @include omega;
      width: 50%;
      height: 600px;
      ;
    }
  }
}
