---
layout: default
---
<section class="section-product">
  <div class="product-container">
    <div class="product-images">
      <img src="{{ page.image }}" alt="{{ page.boardName }}">
    </div>
    <div class="product-content">
      <h1> {{ page.boardName }} </h1>
      <div class="subheader">Current status: {{ page.status }}</div>
      <div class="product-description">
        <p> {{ page.boardDescription }}<p>
      </div>
      <div class="product-buy">
        <a href="/spots"><div class="button"> {{ page.callToAction }}</div></a>
      </div>
    </div>
  </div>
</section>



<section class="section-specs">
  <div class="specs-container">
    <div class="table-container">
      <table class="table-minimal">
        <thead>
          <tr>
            <th>Length</th>
            <th>{{ page.specs.small.length }} cm</th>
            <th>{{ page.specs.medium.length }} cm</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Width</td>
            <td>{{ page.specs.small.width }} cm</td>
            <td>{{ page.specs.medium.width }} cm</td>
          </tr>
          <tr>
            <td>Rocker</td>
            <td>{{ page.specs.small.rocker }} mm</td>
            <td>{{ page.specs.medium.rocker }} mm</td>
          </tr>
          <tr>
            <td>Rider weight</td>
            <td>{{ page.specs.small.riderWeight }} kg</td>
            <td>{{ page.specs.medium.riderWeight }} kg</td>
          </tr>
          <tr>
            <td>Flex</td>
            <td>{{ page.specs.small.flex }}</td>
            <td>{{ page.specs.medium.flex }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% if page.showIcons == true %}

<section class="section-icons">
  <div class="icons-container">
    <div class="title"><h3>Technology used in {{ page.boardName }} kitesurf board.</h3></div>

    {% for item in page.icons %}
        <div class="tooltip-item"><img src="{{ item.path }}" alt="{{ item.name }}">
          <div class="tooltip">
            <p> {{ item.content }} </p>
          </div>
        </div>
    {% endfor %}

  </div>
</section>

{% endif %}

<section class="section-photo-full">

  {% for item in page.images %}

  <img src="{{ item.path }}" alt="{{ item.name }}">

  {% endfor %}

</section>
