// Mixins
@mixin text-uppercase {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin section {
  margin: 0 auto;
  padding: 14em 0 2em 0;
  width: 100%;
}

@mixin section-home {
  margin: 0 auto;
  padding: 3em 0 2em 0;
  width: 100%;
}

@mixin section-info {
  margin: 0 auto;
  padding: 6em 0;
  width: 100%;
}
