// Mixins
@mixin text-uppercase {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $color-dark;
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin section {
  margin: 0 auto;
  padding: 4em 0 2em 0;
  width: 100%;
}
