// Body
$body-bg:                white;
$body-color:             black;
$font-size-base:         1rem !default;
$font-family-base:       "Open Sans", sans-serif !default;
$line-height:            1.5 !default;
// Links

// Variables
$color-dark:             #404042;
$color-medium:           #C6C6C6;
$color-light:            #F8F8F8;
$color-accent:           red;
$baseline:               0.75rem;
$font-main:              "Open Sans", sans-serif;
$font-code:              Consolas, Monaco, monospace;
