// Body
$body-bg:                #fff;
$body-color:             #000;
$font-size-base:         1rem !default;
$font-family-base:       "Open Sans", sans-serif !default;
$line-height:            1.5 !default;
// Links

// Variables
$color-dark:             #404042;
$color-medium:           #c6c6c6;
$color-light:            #f8f8f8;
$color-accent:           yellow;
$baseline:               .75rem;
$font-main:              "Montserrat", sans-serif;
$font-code:              Consolas, Monaco, monospace;

// Breakpoints
$mobile:                 new-breakpoint(max-width 480px);
$tablet:                 new-breakpoint(min-width 480px);
$small-desktop:          new-breakpoint(min-width 992px);
$desktop:                new-breakpoint(min-width 1200px);
